Source: crazydiskmark
Maintainer: Fred Lins <fredcox@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: crazydiskmark
Architecture: all
Description: Utility to benchmark SSD disks on linux and produce results like CrystalDiskMark.
Depends: ${python3:Depends},python3-requests,fio
