pkgbase = crazydiskmark
	pkgdesc = Linux disk benchmark tool like CrystalDiskMark
	pkgver = 0.5.2
	pkgrel = 1
	url = https://github.com/fredcox/crazydiskmark
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-pyqt5
	depends = python-coloredlogs
	depends = python-humanfriendly
	depends = fio
	source = crazydiskmark-0.5.2.tar.gz::https://files.pythonhosted.org/packages/b9/a0/1d6aabf3f3cba3748d06f452804f22cf3570ed008eae851fbaa1ff2fcf99/crazydiskmark-0.5.2.tar.gz
	sha256sums = ef05bd6b9e940e4c2b7a7a6fa60cc37f80eeb130717544386e394be10fb19860

pkgname = crazydiskmark

